.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 25%;
        border-radius: 50%;
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }
    h3 {
        font-size: 1rem;
    }
}

.song-playing {
    animation: rotation 10s infinite linear;
    box-shadow: 0 0 30px rgb(28, 235, 201), 
                0 0 30px rgb(0, 255, 213);
    transition: 1.5s ease;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 60%;
        }
    }
}